audioread==2.1.6
certifi==2018.10.15
cycler==0.10.0
decorator==4.3.0
eyeD3==0.8.7
ffmpeg==1.4
hmmlearn==0.2.1
joblib==0.13.0
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.25.0
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.2
numba==0.40.1
numpy==1.15.4
pathlib==1.0.1
-e git+https://github.com/tyiannak/pyAudioAnalysis.git@8bd78757c139e79595af8348c94c960730db57d1#egg=pyAudioAnalysis
pydub==0.23.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-magic==0.4.15
python-speech-features==0.6
resampy==0.2.1
scikit-learn==0.20.0
scikits.samplerate==0.3.3
scikits.talkbox==0.2.5
scipy==1.1.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
tornado==5.1.1
